{% extends 'base.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
{% for trip in trips %}

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Show</th>
        
    </tr>
<td>{{ trip.name}}</td>
<td>
{% for picture in trip.pictures %}


    <img src="{{ asset('/uploads/'~picture.name) }}" alt="" width="150">
{% endfor %}
</td>
<td><a href="{{ path('trip_show',{'id' : trip.id }) }}"></a></td>

</table>
{% endfor %}
</div>
{% endblock %}
