{% extends 'header.html.twig' %}

{% block title %}Hello PaiementController!{% endblock %}

{% block body %}

    <!-- {{ dump(session) }}
    {{ dump(quantity) }}
    {{ dump(id) }} -->
    <div class="row">

        <div class="col-12">
            <div class="row" >
                <div class="col-12" id="success" style ="background-color : #dcedc8">
                    <i id="successi" class="fa-regular fa-circle-check"></i>
                    <h2  class ="my-2" id="successh1">Merci</h2> 
                    <p id ="successp">Vous recevrez un mail de confirmation<br/> Agence de voyage écologique !!</p>
                </div>
            </div>
        </div>
        
    </div>

<style>
      body {
        text-align: center;
        padding: 40px 0;
       
      }
        
    </style>
{% endblock %}
