{% extends 'base.html.twig' %}

<!-- header-->

            <div class="container">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid mt-2">
                        <a class="navbar-brand" href="#">
                        <img src="{{ asset('/img/logo.png') }}" width="80" height="80">
                        </a>
                        <div class="collapse navbar-collapse justify-content-xxl-evenly" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item mx-3">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-3">
                            <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-3">
                            <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-3">
                            <a class="nav-link active">Home</a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </nav>

                <form method ="POST" action="{{ path('all_trip')}}">
                    <nav class="navbar navbar-expand-lg  ">
                        <div class="container  justify-content-center ">
                        <div class="input-group navbar navbar-expand-lg mt-1 mb-5">
                        
                        <input type="text" name="searchBar" class="form-control">
                        <button class="btn btn-outline-secondary " name ="SearchBar"  type="submit" > Rechercher </button>
                        
                        </div>
                        </div>
                    </nav>
                </form>
            </div>