{% extends 'base.html.twig' %}

<!-- header-->

            <div class="container">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid mt-4">
                        <a class="navbar-brand" href="#">
                        <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" width="30" height="24">
                        </a>
                        <div class="collapse navbar-collapse justify-content-xxl-evenly" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item mx-3">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-3">
                            <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-3">
                            <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-3">
                            <a class="nav-link active">Home</a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </nav>

                <form action="">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container  justify-content-center ">
                        <div class="input-group navbar navbar-expand-lg mt-5">
                        
                            <input type="text" name="searchBar" class="form-control">
                            <button class="btn btn-outline-secondary"   type="submit">search</button>
                        
                        </div>
                        </div>
                    </nav>
                </form>
            </div>