{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">


<h1 class = "my-5" style="text-align : center">Toutes mes réservations</h1>

    
{% if bookings | length == 0 %}
<div class="container"  style ="text-align : center">
  <small>
  Vous avez pas encore de réservations 
  </small>
</div>
  {% else %}
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Nom du Voyage</th>
      <th scope="col">Guide</th>
      <th scope="col">Date de réservation</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
  {% for booking in bookings %}
  
    
  
    <tr>
    
      <th scope="row">{{booking.trip.name}}</th>
      <td>{{booking.trip.guide.user.firstName}}</td>
      <td>{{booking.reservationDate|date('Y-m-d')}}</td>
      <td> {{booking.price}}€ </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}



</div>
{% endblock %}
